<td class="select-field">
<input type="checkbox" name="instance" value="{{id}}" />
</td>

<td><a href="/marvl/instances/view/{{id}}" title="{{name}}">{{name}}</a> <div hidden id="instance_name_value{{id}}">{{name}}</div></td>
<td>{{type}} <div hidden id="instance_type_value{{id}}">{{type}}</div></td>
<td>{{state}} <div hidden id="instance_state_value{{id}}">{{state}}</div></td>
<td>{{created}}</td>
<td>{{group}}</td>
<td>{{ip}} <div hidden id="instance_ip_value{{id}}">{{ip}}</div></td>
<td>{{url}} <div hidden id="instance_url_value{{id}}">{{url}}</div></td>
<td>{{visibility}} <div hidden id="instance_visibility_value{{id}}">{{visibility}}</div></td>