<td class="select-field">

<input type="checkbox" name="group" value="{{id}}" />
  
</td>

<td><a href="/marvl/groups/view/{{id}}" title="{{name}}">{{name}}</a> <div hidden id="group_name{{id}}">{{name}}</div><div hidden id="group_description{{id}}">{{description}}</div></td>
<td>{{group_admin}}</td>
<td>{{total_members}}</td>
<td>{{total_models}}</td>
<td>{{created}}</td>