<td class="select-field">
    {{#if show_checkbox}}
      <input type="checkbox" name="map" value="{{id}}" />
    {{/if}}  
</td>
<td>{{email}} <div hidden id="email{{id}}">{{email}}</div></td>
<td>{{group}} <div hidden id="group_id{{id}}">{{group_id}}</div></td>
<td>{{is_admin}} <div hidden id="is_admin{{id}}">{{is_admin}}</div></td>
<td>{{proved}}</td>
<td>{{status}}</td>
<td>{{created}}</td>
<td>{{creator}}</td>