<td class="select-field">
<input type="checkbox" name="user" value="{{id}}" />
</td>

<td>{{name}}<div hidden id="user_name_value{{id}}">{{name}}</div></td>
<td>{{email}}</td>
<td>{{organization}}</td>
<td>{{is_system_admin}}</td>
<td>{{aaf}}</td>
<td>{{groups}}</td>