<div class="modal fade" id="modelRequestViewModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="model-request-details-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-ok"></span>Request Details</h4>
      </div>
      <div class="modal-body">
        <div><span class="modal-text-header">Request Id:</span><span class="modal-text-field">{{request_id}}</span></div>
        <div><span class="modal-text-header">Description:</span><span class="modal-text-field">{{description}}</span></div>
        <div><span class="modal-text-header">Type:</span><span class="modal-text-field">{{type}}</span></div>
        <div><span class="modal-text-header">Status:</span><span class="modal-text-field">{{status}}</span></div>
        <div><span class="modal-text-header">Notes:</span><span class="modal-text-field">{{notes}}</span></div>
        <div><span class="modal-text-header">Created Time:</span><span class="modal-text-field">{{createdTime}}</span></div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>