  <td class="select-field">
    {{#if show_checkbox}}
      <input type="checkbox" name="request" value="{{id}}" />
    {{/if}}  
  </td>
  <td>{{request_id}}</td>
  <td>{{status}}</td>
  <td>{{type}}  
      <div hidden id="request_type{{id}}">{{type}}</div>
      <div hidden id="request_display_id{{id}}">{{request_id}}</div>  
   </td>
  
  {{#if show_created_by}}
    <td>{{createdBy}}
      <div hidden id="request_created_by{{id}}">{{createdBy}}</div>  
    </td>
  {{/if}}
  
  {{#if show_changed_by}}
    <td>{{changedBy}}
      <div hidden id="modified_time{{id}}">{{modifiedTime}}</div>
      <div hidden id="request_changed_by{{id}}">{{changedBy}}</div>
    </td>
  {{/if}}
  
  <td>{{createdTime}}</td>
  <td class="action-col">
    <span class="glyphicon glyphicon-new-window" data-toggle="modal" data-target="#modelRequestViewModal{{id}}"></span>
  </td>