<div class="modal fade" id="instanceViewModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="instance-details-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-ok"></span>Model Details</h4>
      </div>
      <div class="modal-body">
        <div><span class="modal-text-header">Name:</span><span class="modal-text-field">{{name}}</span></div>
        <div><span class="modal-text-header">Type:</span><span class="modal-text-field">{{type}}</span></div>
        <div><span class="modal-text-header">Created:</span><span class="modal-text-field">{{created}}</span></div>
        <div><span class="modal-text-header">State:</span><span class="modal-text-field">{{state}}</span></div>
        <div><span class="modal-text-header">Group:</span><span class="modal-text-field">{{group}}</span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>