<div class="modal fade" id="userViewModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="member-details-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-ok"></span>Member Details</h4>
      </div>
      <div class="modal-body">
        <div><span class="modal-text-header">Member Name:</span><span class="modal-text-field">{{name}}</span></div>
        <div><span class="modal-text-header">Email:</span><span class="modal-text-field">{{email}}</span></div>
        <div><span class="modal-text-header">Organization:</span><span class="modal-text-field">{{organization}}</span></div>
        <div><span class="modal-text-header">AAF User:</span><span class="modal-text-field">{{aaf}}</span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>