  <td>{{name}}</td>
  <td>{{email}}</td>
  <td>{{is_group_admin}}</td>
  <td>{{organization}}</td>
  <td class="action-col">
    <span class="glyphicon glyphicon-new-window" data-toggle="modal" data-target="#userViewModal{{id}}"></span>
    <!-- <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#userDeleteModal{{id}}"></span> -->
  </td>